/* CreateBluebook.css */

.create-bluebook-container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-bluebook-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-group-bluebook {
  margin-bottom: 15px;
}

.form-group-bluebook label {
  display: block;
  margin-bottom: 5px;
}

.form-group-bluebook input,
.form-group-bluebook select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button-group-bluebook {
  text-align: center;
}

.button-group-bluebook button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button:hover {
  background-color: #0056b3;
}
